@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    font-size: 62.5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

// main-color 
$btn-color: #20ad96;
$bg-color: #faf8f6;
$text-color: #333461;
$text-lite-color: #b6b1c4;
$white: #fff;



// Navbar 
header {
    position: fixed;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: #ffffff;
    z-index: 100;

    .navbar {
        max-width: 1290px;
        margin: auto;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo a {
            width: 100px;
            display: flex;
            align-items: center;

            img {
                width: 200px;
            }
        }

        .list {
            display: inline-flex;

            li {
                margin-left: 30px;
            }

            a {
                font-size: 1.6rem;
                color: $text-color;
                font-weight: 500;

                &:hover {
                    color: $btn-color;
                }
            }

            a.active {
                color: #20ad96;
                font-family: sans-serif;

            }

            .n-btn {
                line-height: 10px;
                height: 50px;
                width: 250px;
                margin-top: 15px;
                margin-left: 30px;
                padding: 10px 25px;
                font-size: 1.6rem;
                border-radius: 20px;
                border: none;
                outline: none;
                cursor: pointer;
                background-color: $btn-color;
                color: #fff;
            }
        }

        .nav-toggle {
            width: 40px;
            height: 35px;
            background-color: #333461;
            display: none;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            span {
                width: 25px;
                height: 2.5px;
                background-color: #fff;
                position: relative;
            }

            span::after,
            span::before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                background-color: #fff;

            }

            span::before {
                top: 7px;

            }

            span::after {
                top: -7px;

            }
        }

        input {
            display: none;
        }
    }
}

// navbar 

// hero 
.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #FFF8F3;

    .h-container {
        max-width: 1290px;
        margin: auto;
        display: grid;
        height: 80vh;
        grid-template-columns: 1fr 1fr;
        padding-top: 50px;
        grid-gap: 20px;
        justify-items: center;
        align-items: end;
        padding: 0 30px;

        .h-lbox {
            width: 100%;
            height: 100%;
            align-self: center;
            padding-top: 180px;

            img {
                width: 100px;
            }

            p {
                font-size: 1.6rem;
                padding-top: 20px;
            }

            h1 {
                font-size: 8rem;
                font-weight: 900;
                padding-top: 20px;
                color: #333461;
            }

            .para-2 {
                font-size: 1.6rem;
                line-height: 25px;
                color: #000;
            }

            .h-btn {
                line-height: 10px;
                height: 50px;
                width: 250px;
                margin-top: 20px;
                padding: 10px 25px;
                font-size: 1.6rem;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: $btn-color;
                color: #fff;
                cursor: pointer;
                transition: 0.5s ease;

                &:hover {
                    box-shadow: 0px 26px 25px 4px rgba(66, 184, 149, 0.2);
                    transform: translateY(-5px);
                }
            }
        }

        .h-rbox {
            width: 75%;
            height: 80%;
            background-color: #fff;
            margin-bottom: -20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }

        }
    }
}

// hero 

// service 
.service {
    width: 100%;
    height: auto;

    .s-title {
        max-width: 1290px;
        margin: auto;
        padding: 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;

        .s-title-left {
            img {
                width: 100px;
            }

            h2 {
                font-size: 4rem;
                padding-top: 20px;
                color: $text-color;
                font-weight: 900;
            }
        }

        .s-title-right {
            padding-top: 20px;

            p {
                font-size: 1.6rem;
                line-height: 25px;
                color: #000;
            }

            p:nth-child(2) {
                color: #000;
                padding-top: 20px;
            }
        }
    }

    .s-container {
        max-width: 1290px;
        padding: 0 30px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        padding-top: 80px;

        .s-box {
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding-top: 20px;
            padding-bottom: 50px;
            padding-left: 30px;
            border-radius: 5px;

            img {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            h2 {
                font-size: 2rem;
                padding-bottom: 20px;
                color: #333461;
            }

            p {
                font-size: 1.6rem;
                width: 90%;
                line-height: 25px;
                color: #000;
                opacity: 0.9;
            }
        }
    }

    .service-button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;

        &:hover {
            transform: translate(50deg);
        }

        .s-btn {
            line-height: 10px;
            height: 50px;
            width: 250px;
            margin-top: 20px;
            padding: 10px 25px;
            font-size: 1.6rem;
            border-radius: 20px;
            border: none;
            outline: none;
            background-color: $btn-color;
            color: #fff;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                box-shadow: 0px 26px 25px 4px rgba(66, 184, 149, 0.2);
                transform: translateY(-5px);
            }
        }
    }
}

.section {
    padding-top: 100px;
    padding-bottom: 50px;
}

// service 

// testimonial 
.testimonial {
    width: 100%;
    margin: auto;
    height: auto;
    padding: 80px 30px;
    margin-bottom: 100px;
    background: #FFF8F3;

    .testimonial-title {
        max-width: 1290px;
        margin: auto;
        padding: 15px 30px;

        img {
            width: 100px;
        }

        h2 {
            font-size: 4rem;
            padding-top: 20px;
            color: $text-color;
            font-weight: 900;
        }
    }

    .testimonial-container {
        max-width: 1290px;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 30px;

        .swiper {
            width: 100%;
            height: 100%;
            padding: 30px 10px;
        }

        .swiper-slide {
            background-color: #fff;
            text-align: center;
            font-size: 18px;
            border-radius: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            flex-direction: column;
            background-color: #fff;
            padding: 30px 0px;

            &:hover {
                box-shadow: -4px 12px 50px -10px rgba(0, 0, 0, 0.1);
                background-color: #fff;
            }

            &:hover i {
                color: #20ad96;
            }
        }

        .swiper-content {
            p {
                font-size: 1.6rem;
                width: 80%;
                margin: auto;
                line-height: 25px;
                color: #000;
                opacity: 0.8;
                padding: 10px;
            }
        }

        .swiper-image {
            padding-top: 20px;

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-bottom: 20px;
                object-fit: fill;
            }

            h3 {
                color: #111;
                font-size: 1.6rem;
                padding-bottom: 5px;
            }

            p {
                font-size: 1.6rem;
                opacity: 0.7;
            }

            ul {
                display: flex;
                gap: 20px;
                padding: 20px;

                li {
                    font-size: 1.5rem;
                    color: #000;
                    opacity: 0.5;

                    i {
                        color: #000;

                        &:hover {
                            color: red;
                        }
                    }
                }
            }
        }
    }

    .swiper-slide:hover i {
        color: red;
    }
}

// testimonial 

// Blog 
.blog {
    width: 100%;
    height: auto;
    padding-bottom: 50px;

    .b-title {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;

        h1 {
            font-size: 4rem;
            text-align: center;
            color: $text-color;
            font-weight: 900px;
        }
    }

    .b-container {
        max-width: 1290px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 0 30px;
        padding-top: 50px;
        padding-bottom: 50px;

        .b-box {
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding-bottom: 20px;
            border-radius: 5px;

            .b-img {
                width: 100%;
                height: 200px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                }
            }

            h2 {
                font-size: 2rem;
                padding: 20px;
                color: #333461;
            }

            p {
                font-size: 1.6rem;
                padding: 10px 20px;
                line-height: 25px;
            }
        }
    }

    .blog-button {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px;

        .b-btn {
            line-height: 10px;
            height: 50px;
            width: 250px;
            margin-top: 20px;
            padding: 10px 25px;
            font-size: 1.6rem;
            border-radius: 20px;
            border: none;
            outline: none;
            background-color: $btn-color;
            color: #fff;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                box-shadow: 0px 26px 25px 4px rgba(66, 184, 149, 0.2);
                transform: translateY(-5px);
            }
        }
    }
}

// blog 

// free-guide 
.free-guide {
    width: 100%;
    height: auto;
    background-color: #FFF8F3;

    .fg-container {
        max-width: 1290px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 0 30px;
        justify-items: center;
        align-items: center;

        .fgbox-left {
            align-self: start;

            img {
                width: 100px;
                padding-bottom: 20px;
            }

            h2 {
                font-size: 5rem;
                font-weight: 900;
                color: $text-color;
                padding-bottom: 25px;

                span {
                    color: #20ad96;
                }
            }

            #para-1 {
                font-size: 1.8rem;
                line-height: 25px;
                font-weight: 500;
                color: #000;
                font-family: 'Poppins', sans-serif;
                padding-bottom: 20px;
            }

            p {
                font-size: 1.6rem;
                line-height: 25px;
                padding-bottom: 25px;
            }

            .fg-btn {
                height: 50px;
                padding: 10px 30px;
                font-size: 1.6rem;
                border: none;
                outline: none;
                background-color: #20ad96;
                color: #fff;
                border-radius: 15px;
                transition: 0.5s ease;
                cursor: pointer;

                &:hover {
                    box-shadow: 0px 26px 25px 4px rgba(66, 184, 149, 0.2);
                    transform: translateY(-5px);
                }
            }


        }

        .fgbox-right {
            height: 500px;
            position: relative;

            .fgbox-right-overlay {
                position: absolute;
                background-color: #20ad96;
                color: #fff;
                font-size: 1.6rem;
                top: -40px;
                right: -25px;
                padding: 40px 8px;
                border-radius: 50%;
                font-weight: 600;
                letter-spacing: 1px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// free-guide

// online-session 
.online-session {
    width: 100%;
    height: auto;

    .online-container {
        max-width: 65%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background: #FFF8F3;

        .onlinebox-left {
            align-self: center;
            padding: 0 20px;

            h2 {
                font-size: 3.5rem;
                color: #333461;
                padding-bottom: 20px;
                font-weight: 900;
            }

            p {
                font-size: 1.6rem;
                padding-bottom: 20px;
            }

            .online-btn {
                line-height: 10px;
                height: 50px;
                width: 250px;
                margin-top: 20px;
                padding: 10px 25px;
                font-size: 1.6rem;
                border-radius: 20px;
                border: none;
                outline: none;
                background-color: $btn-color;
                color: #fff;
                cursor: pointer;
                transition: 0.5s ease;

                &:hover {
                    box-shadow: 0px 26px 25px 4px rgba(66, 184, 149, 0.2);
                    transform: translateY(-5px);
                }
            }
        }

        .onlinebox-right {
            height: 450px;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
                border-radius: 15px 0px 15px 0px;
            }
        }
    }
}

// online-session 

// notified 
.notified {
    width: 100%;
    height: auto;
    background: #FFF8F3;

    .notified-container {
        max-width: 1290px;
        margin: auto;
        padding: 0 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 50px;

        .notifiedbox-left {
            h2 {
                font-size: 3rem;
                padding-bottom: 10px;
                color: $text-color;
            }

            p {
                font-size: 1.6rem;
            }
        }

        .notifiedbox-right {
            form {
                .notified-input-box {
                    width: 100%;
                    display: flex;

                    input {
                        padding: 15px;
                        width: 100%;
                        border: 1px solid rgba($color: #000000, $alpha: 0.2);
                        outline: none;
                        border-radius: 10px 0px 0px 10px;
                        font-size: 1.6rem;

                    }

                    .notified-btn {
                        padding: 15px 30px;
                        font-size: 1.6rem;
                        border: none;
                        outline: none;
                        background-color: #20ad96;
                        color: #fff;
                        border-radius: 0 10px 10px 0px;
                    }
                }
            }
        }
    }
}

// notified 

// footer 
footer {
    width: 100%;
    height: auto;
    background: #fff;

    .footer-container {
        max-width: 1290px;
        margin: auto;
        padding: 30px 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        justify-items: center;
        padding-bottom: 40px;

        .ab-box {
            padding-bottom: 25px;

            img {
                width: 200px;
            }

            p {
                font-size: 1.6rem;
                padding-top: 20px;
            }

        }

        .page-box {
            .ab-title {
                font-size: 1.8rem;
                padding-bottom: 20px;
            }

            ul {
                display: block;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #000;
                }
            }
        }

        .cont-box {
            .ab-title {
                padding-bottom: 20px;
                font-size: 1.8rem;
            }

            ul {
                display: block;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {
                    color: #000;
                    font-weight: 500;
                    font-size: 1.6rem;
                }
            }
        }
    }

    hr {
        max-width: 1290px;
        margin: auto;
        padding: 0 30px;
        color: 1px solid rgba($color: #000000, $alpha: 0.1);

    }

    .footer-bottom {
        max-width: 1290px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        padding: 50px;
        justify-items: center;
        align-items: center;

        p {
            font-size: 1.6rem;
            line-height: 30px;
        }

        ul {
            display: flex;
            gap: 40px;

            li {
                i {
                    font-size: 2rem;
                }
            }
        }
    }
}

// footer 




// Abouthtml 
// company 
.company {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;

    .company-title {
        max-width: 1290px;
        margin: auto;
        padding: 0 30px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.6rem;
            letter-spacing: 1px;
            font-weight: 500;
            color: #333461;
            color: $text-lite-color;
            text-align: center;
        }
    }

    .company-container {
        max-width: 1290px;
        margin: auto;
        padding: 0 30px;
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        grid-gap: 20px;

        .company-box {
            justify-self: center;

            img {
                width: 120px;
                object-fit: fill;
            }
        }
    }
}

// company 


// transform
.transform {
    width: 100%;
    height: auto;
    margin-bottom: 100px;

    .transform-title {
        max-width: 1290px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 30px;

        h3 {
            font-size: 1.6rem;
            color: $text-lite-color;
            padding-bottom: 10px;
        }

        h2 {
            font-size: 4rem;
            padding-bottom: 20px;
            color: #333461;
        }

        p {
            font-size: 1.8rem;
            width: 80%;
            margin: auto;
            text-align: center;
            color: #111;
        }
    }

    .transform-container {
        max-width: 1290px;
        margin: auto;
        padding: 0px 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        justify-content: center;
        align-items: center;

        // background-color: #20ad96;
        .transform-box {
            background-color: #fff;
            padding: 50px 10px;
            text-align: center;

            img {
                padding-bottom: 15px;
                width: 35px;
            }

            h3 {
                font-size: 2rem;
                padding-bottom: 10px;
                text-align: center;
            }

            p {
                font-size: 1.6rem;
                line-height: 25px;
                text-align: center;
                color: #333461;
            }
        }
    }
}

// transform

// Ask
.ask {
    width: 100%;
    height: auto;
    margin-bottom: 100px;

    .ask-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        padding: 50px 30px;

        h2 {
            font-size: 4rem;
            color: $text-color;
        }

        p {
            font-size: 1.6rem;
            color: #111;
        }
    }

    .ask-container {
        max-width: 1290px;
        margin: auto;

        .faq {
            width: 90%;
            margin: auto;
            padding: 15px 0px;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

            .questions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding: 10px;
                margin-bottom: 10px;

                h2 {
                    font-size: 1.8rem;
                }

                i {
                    font-size: 1.8rem;
                    cursor: pointer;
                }
            }

            .ans {
                font-family: sans-serif;
                max-height: 0;
                overflow: hidden;


                p {
                    font-size: 1.6rem;
                    line-height: 30px;
                    padding: 10px 0px;
                }
            }
        }
    }

    .faq.active .ans {
        max-height: 100%;
    }

    .faq.active h2 {
        color: #20ad96;

    }

    .faq.active i {
        transform: rotate(-180deg);
        transition: 0.5s ease;
        color: #20ad96;
    }
}

// Ask

// question 
.question {
    margin-bottom: 100px;

    .question-container {
        max-width: 1290px;
        background-color: #FFF8F3;
        margin: auto;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        text-align: center;

        h2 {
            font-size: 2rem;
            font-weight: 600;
        }

        p {
            font-size: 1.6rem;
            color: $text-lite-color;
        }

        .question-btn {
            line-height: 10px;
            height: 50px;
            width: 250px;
            margin: auto;
            margin-top: 20px;
            padding: 10px 25px;
            font-size: 1.6rem;
            border-radius: 20px;
            border: none;
            outline: none;
            background-color: $btn-color;
            color: #fff;
            cursor: pointer;
            transition: 0.5s ease;

            &:hover {
                box-shadow: 0px 26px 25px 4px rgba(66, 184, 149, 0.2);
                transform: translateY(-5px);
            }
        }
    }
}

// question 

// Responsive-section 
@media (max-width: 1280px) {
    .hero {
        .h-container {
            .h-lbox {
                h1 {
                    font-size: 6rem;
                }
            }
        }
    }

    .testimonial {
        .testimonial-title {
            padding: 15px 5px;
        }

        .testimonial-container {
            padding: 30px 0px;
        }
    }

    .blog {
        .b-title {
            max-width: 800px;
            margin: auto;

            h1 {
                max-width: 1290px;
            }
        }
    }

}

@media (max-width: 1024px) {
    .hero {
        height: auto;

        .h-container {
            height: auto;

            .h-lbox {
                padding-bottom: 50px;
            }

            .h-rbox {
                width: 90%;
                height: 80%;
            }
        }
    }

    .online-session {
        width: 100%;
        height: auto;

        .online-container {
            max-width: 80%;
        }
    }

    .testimonial {
        .testimonial-container {
            padding: 30px 0px;
        }
    }

    hr {
        width: 95%;
    }
}

@media (max-width: 992px) {
    header {
        .navbar {
            height: 100%;

            .list {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                flex-direction: column;
                background-color: #fff;
                padding-bottom: 30px;
                opacity: 0;
                visibility: hidden;
            }

            #nav-menu:checked~.list {
                opacity: 1;
                visibility: visible;
            }

            .nav-toggle {
                display: flex;
            }
        }
    }

    .hero {
        .h-container {
            .h-rbox {
                width: 90%;
                height: 80%;
            }
        }
    }

    .free-guide {
        .fg-container {
            .fgbox-left {
                h2 {
                    font-size: 4rem;
                }
            }
        }
    }

    .online-session {
        width: 100%;
        height: auto;

        .online-container {
            max-width: 90%;
        }
    }

    hr {
        width: 90%;
    }

    .company {
        .company-container {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .transform {
        .transform-title {
            h2 {
                text-align: center;
            }
        }

        .transform-container {
            grid-template-columns: 1fr 1fr;
        }
    }

}

@media (max-width: 768px) {
    header {
        .navbar {
            padding: 0 20px;

            .logo a {
                img {
                    width: 180px;
                }
            }

            .list {
                a {
                    font-size: 1.4rem;
                }

                .n-btn {
                    font-size: 1.4rem;
                }
            }
        }

    }

    .hero {
        .h-container {
            .h-rbox {
                width: 100%;
                height: 80%;
            }
        }
    }

    .service {
        .s-container {
            grid-template-columns: 1fr 1fr;
        }

    }

    .testimonial {
        padding: 80px 20px;

        .testimonial-title {
            padding: 0 5px;
        }
    }

    .blog {
        .b-container {
            grid-template-columns: 1fr 1fr;
        }
    }

    .free-guide {
        .fg-container {
            .fgbox-left {
                h2 {
                    font-size: 4rem;
                }
            }

            .fgbox-right {
                .fgbox-right-overlay {
                    right: -10px;

                }

            }

        }
    }

    .notified {
        .notified-container {
            padding: 50px 30px;
        }
    }

    footer {
        .footer-container {
            grid-template-columns: 1fr 1fr;
            justify-items: start;
        }

        .footer-bottom {
            padding: 30px;
        }
    }

    .company {
        padding: 50px 10px;

        .company-container {
            grid-template-columns: 1fr 1fr 1fr;

            .company-box {
                img {
                    width: 100px;
                }
            }
        }
    }

}

@media (max-width: 568px) {
    header {
        .navbar {
            padding: 0 20px;

            .logo a {
                img {
                    width: 150px;
                }
            }

            .list {
                li {
                    margin-left: 20px;
                }

                .n-btn {
                    margin-left: 20px;
                }
            }
        }

    }

    .hero {
        height: 100%;

        .h-container {
            height: auto;
            grid-template-columns: 1fr;
            grid-gap: 20px;
            padding: 0 20px;

            .h-lbox {
                padding-top: 140px;

                h1 {
                    font-size: 4rem;
                }

                p {
                    font-size: 1.4rem;
                }

                .para-2 {
                    font-size: 1.4rem;
                }

                .h-btn {
                    font-size: 1.4rem;
                }
            }

            .h-rbox {
                width: 100%;
                height: 100%;
                margin-bottom: 0px;

                img {
                    height: 100%;
                    width: 100%;

                }
            }
        }
    }

    .service {
        .s-title {
            grid-template-columns: 1fr;
            padding: 0 20px;
            padding-bottom: 20px;

            .s-title-left {
                h2 {
                    font-size: 3rem;
                }
            }

            .s-title-right {
                p {
                    font-size: 1.4rem;
                }

                p:nth-child(2) {
                    font-size: 1.4rem;
                }
            }
        }

        .s-container {
            grid-template-columns: 1fr;
            padding: 0 20px;

            .s-box {
                p {
                    font-size: 1.4rem;
                }

                h2 {
                    font-size: 1.8rem;
                }
            }
        }

        .service-button {
            padding: 20px;

            .s-btn {
                font-size: 1.4rem;
            }
        }
    }

    .testimonial {
        padding: 80px 20px;

        .testimonial-title {
            padding: 0 0px;

            h2 {
                font-size: 3rem;
            }
        }

        .testimonial-container {
            padding: 30px 0px;

            .swiper-content {
                p {
                    width: 90%;
                    font-size: 1.4rem;
                }
            }

            .swiper-image {
                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .blog {
        .b-title {
            max-width: 1290px;
            margin: auto;
            padding: 0 20px;

            h1 {
                padding-bottom: 20px;
                font-size: 2.5rem;
            }
        }

        .b-container {
            padding: 0 20px;
            grid-template-columns: 1fr;

            .b-box {
                h2 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }
        }

        .blog-button {
            .b-btn {
                font-size: 1.4rem;
            }
        }
    }

    .free-guide {
        .fg-container {
            grid-template-columns: 1fr;
            grid-gap: 50px;
            padding: 0 20px;

            .fgbox-left {
                h2 {
                    font-size: 3rem;
                }

                #para-1 {
                    font-size: 1.6rem;
                }

                p {
                    font-size: 1.4rem;
                }

                .fg-btn {
                    font-size: 1.4rem;

                }
            }

            .fgbox-right {
                .fgbox-right-overlay {
                    font-size: 1.4rem;
                    right: -3px;
                    top: -30px;
                    padding: 40px 10px;

                }

            }
        }
    }

    .online-session {
        .online-container {
            grid-template-columns: 1fr;
            grid-gap: 50px;
            padding-top: 20px;

            .onlinebox-left {
                h2 {
                    font-size: 2.5rem;
                }

                p {
                    font-size: 1.4rem;
                }

                .online-btn {
                    font-size: 1.4rem;
                }

            }

            .onlinebox-right {
                img {
                    border-radius: 0%;
                }
            }
        }
    }

    .notified {
        .notified-container {
            grid-template-columns: 1fr;
            grid-gap: 30px;
            padding: 20px;

            .notifiedbox-left {
                h2 {
                    font-size: 2.5rem;
                    // text-align: center;
                }

                p {
                    font-size: 1.4rem;
                    // text-align: center;
                }
            }

            .notifiedbox-right {
                form {
                    .notified-input-box {
                        .input {
                            font-size: 1.4rem;
                        }

                        .notified-btn {
                            padding: 15px 15px;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }

    footer {
        .footer-container {
            padding: 0 20px;
            padding-top: 50px;
            padding-bottom: 40px;
            grid-template-columns: 1fr;
            justify-items: start;
            grid-gap: 30px;

            .ab-box {
                img {
                    width: 150px;
                }

                p {
                    font-size: 1.4rem;
                }
            }

            .page-box {
                .ab-title {
                    h3 {
                        font-size: 1.6rem;
                    }
                }

                ul {
                    li {
                        font-size: 1.4rem;
                    }
                }
            }

            .cont-box {
                .ab-title {
                    h3 {
                        font-size: 1.6rem;
                    }
                }

                ul {
                    li {
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .footer-bottom {
            grid-template-columns: 1fr;
            padding: 10px;
            padding-bottom: 40px;

            p {
                font-size: 1.4rem;
                text-align: center;
            }
        }
    }

    .company {
        .company-title {
            p {
                font-size: 1.4rem;
            }
        }

        .company-container {
            grid-template-columns: 1fr 1fr 1fr;
            padding: 30px 20px;

            .company-box {
                img {
                    width: 80px;
                }
            }
        }
    }

    .transform {
        .transform-title {
            padding: 50px 20px;

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1.4rem;
                line-height: 25px;
                width: 100%;
            }
        }

        .transform-container {
            grid-template-columns: 1fr;
            grid-gap: 0px;
            padding: 0 20px;

            .transform-box {
                padding: 30px 20px;

                h3 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .ask {
        .ask-title {
            padding: 50px 20px;

            h2 {
                font-size: 3rem;
            }

            p {
                font-size: 1.4rem;
                text-align: center;
            }
        }
        .ask-container{
            .faq {
                padding: 30px 0px;
    
                .questions {
                    h2 {
                        font-size: 1.6rem;
                    }
                }
                .ans{
                    p{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }

}